*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(164, 154, 13);
    color:rgb(17, 50, 17);
    text-align: center;
}
.container{
    height: 70vh;
    display:flex;
    justify-content: center;
    align-items:center;
    gap:1.5vmin; 
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    gap:1.5vmin;/*gap between(in horizontal-left&right) boxes*/
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius:1rem;
    box-shadow: 0 0 1rem rgb(0,0,0,0.3);
    font-size:8vmin;
    color:rgb(9, 100, 9);
    background-color: bisque;
}
#reset{
    padding:1rem;
    font-size: 1.25rem;
    background-color:green;
    border-radius: 1rem;
    border:none;
    box-shadow: 2px 2px rgb(3, 37, 3);
}
#new-btn{
    padding:1rem;
    font-size: 1.25rem;
    background-color:green;
    border-radius: 1rem;
    border:none;
    box-shadow: 2px 2px rgb(3, 37, 3);
}

#msg{
    color:rgba(6, 54, 6, 0.871);
    font-size: 5vmin;
}

.msg-container{
    height:100vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}

.hide{
    display:none;
}
